*.o
fasta_grep
tests/run_all_tests
src/run_all_tests
src/fasta_grep
.DS_Store
Makefile
src/.deps
autom4te.cache/*
*.lo
*~
src/.libs/*
src/libfasta_grep.la
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/Makefile.in
src/run_all_tests.log
src/run_all_tests.trs
src/test-suite.log
stamp-h1
test-driver

